<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to CMMS PM</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/welcomePage.css" />
</head>
<body>
  <div class="container animate-fade">
    <div class="left-section">
      <div class="text-wrapper">
        <h1>Welcome to</h1>
        <h2>CMMS PM</h2>
        <p>
          Sistem pintar untuk mengelola <br />
          preventive maintenance secara efisien, <br />
          tepat waktu, dan terstruktur.
        </p>
        <a href="/mesin" class="btn-next">Lanjut ke Aplikasi</a>
      </div>
    </div>
    <div class="right-section">
      <img src="/image/TEL.jpg" alt="CMMS Plant View" />
    </div>
  </div>
</body>
</html>
